.search-field {
  background-color: #1b064c;
  border: 5px solid #1b064c;
  border-radius: 15px;
  width: 70%;
  height: 30px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.search-filter-wrapper {
  text-align: center;
  width: 55%;
  margin: 0 auto;
}

.search-label {
  color: white;
}
